*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/
docker
app/venv
medstat
#src
*.sqlite*
app/static/node_modules
app/dashboard/static/node_modules
.env
.venv
node_modules
media
uploads
