{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Профиль {% endblock title %}

{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              {% if profile.photo == 'userpic.png' %}
                <img src="{% static 'img' %}/{{profile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              {% else %}
                <img src="/media/{{profile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              {% endif %}
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{user.first_name}} {{user.last_name}}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                @{{user.username}}
              </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><span class="badge text-bg-success">{{ profile.role }}</span></h5>
                  <p class="card-text">

                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <b>Дата рождения: </b>{{profile.birth_date}}
                  </li>
                  <li class="list-group-item">
                    <b>Пол: </b>
                    {% if profile.gender == 'M' %} Мужской
                    {% else %} Женский
                    {% endif %}
                  </li>
                  <li class="list-group-item">
                    <b>Баланс: </b>{{profile.balance}}
                  </li>
                </ul>
                <div class="card-body">
                  <a class="btn btn-link" href="/user/list" class="card-link">Назад</a>
                  {% if user.id == request.user.id or request.user.is_superuser %}
                  <a class="btn btn-link" href="/user/{{user.id}}/update" class="card-link">Изменить</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% endblock content %}