{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-lg-12 col-md-12 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active" data-bs-target="#nav-users-all" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">account_circle</i>
                    <span class="ms-1">Все</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-target="#nav-users-staff" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">badge</i>
                    <span class="ms-1">Специалисты</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-target="#nav-users-admin" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">contact_mail</i>
                    <span class="ms-1">Администраторы</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-target="#nav-users-role" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">groups_2</i>
                    <span class="ms-1">Роли</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-users-all" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card card-plain h-100">
                      <div class="card-header p-3">
                        <h6 class="mb-0"></h6>
                        <a class="btn btn-primary" href="/user/create">Добавить пользователя</a>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for prfile in profiles %}
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                            <div class="avatar me-3">
                              {% if prfile.photo == 'userpic.png' %}
                                <img src="{% static 'img' %}/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% else %}
                                <img src="/media/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% endif %}
                            </div>
                            <div class="d-flex align-items-start flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{prfile.user.first_name}} {{prfile.user.first_name |slice:"1"}}</h6>
                              <p class="mb-0 text-xs">{{prfile.user.email}}</p>
                            </div>
                            <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="/user/{{prfile.user.id}}">Профиль</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-users-admin" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card card-plain h-100">
                      <div class="card-header p-3">
                        <h6 class="mb-0"></h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for prfile in admins %}
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                            <div class="avatar me-3">
                              {% if prfile.photo == 'userpic.png' %}
                                <img src="{% static 'img' %}/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% else %}
                                <img src="/media/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% endif %}
                            </div>
                            <div class="d-flex align-items-start flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{prfile.user.first_name}} {{prfile.user.first_name |slice:"1"}}</h6>
                              <p class="mb-0 text-xs">{{prfile.user.email}}</p>
                            </div>
                            <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="/user/{{prfile.user.id}}">Профиль</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-users-staff" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card card-plain h-100">
                      <div class="card-header p-3">
                        <h6 class="mb-0"></h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for prfile in staffs %}
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                            <div class="avatar me-3">
                              {% if prfile.photo == 'userpic.png' %}
                                <img src="{% static 'img' %}/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% else %}
                                <img src="/media/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                              {% endif %}
                            </div>
                            <div class="d-flex align-items-start flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{prfile.user.first_name}} {{prfile.user.first_name |slice:"1"}}</h6>
                              <p class="mb-0 text-xs">{{prfile.user.email}}</p>
                            </div>
                            <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="/user/{{prfile.user.id}}">Профиль</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-users-role" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card card-plain h-100">
                      <div class="card-header p-3">
                        <h6 class="mb-0"></h6>
                        <a class="btn btn-primary" href="/role/create">Добавить роль</a>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for role in roles %}
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                            <div class="avatar me-3">
                                {% comment %} <img src="{% static 'img' %}/{{prfile.photo}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm"> {% endcomment %}
                            </div>
                            <div class="d-flex align-items-start flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{role.name}}</h6>
                              <p class="mb-0 text-xs"></p>
                            </div>укаукапкеп
                            <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="/user/role/{{prfile.user.id}}">Изменить</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% endblock content %}